In [1]:
import pandas as pd
import numpy as np

In [4]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is D0A1-DA57

 Directory of C:\Users\8prab\Google Drive\Work\hackathons\ltfs2

21-01-2020  20:01    <DIR>          .
21-01-2020  20:01    <DIR>          ..
21-01-2020  20:01    <DIR>          .ipynb_checkpoints
21-01-2020  20:01                72 1.0.ipynb
21-01-2020  20:00             3,351 sample_submission_IIzFVsf.csv
21-01-2020  20:00             2,980 test_1eLl9Yf.csv
21-01-2020  20:00         3,013,089 train_fwYjLYX.csv
               4 File(s)      3,019,492 bytes
               3 Dir(s)   8,818,921,472 bytes free

In [5]:
sample = pd.read_csv("sample_submission_IIzFVsf.csv")
test = pd.read_csv("test_1eLl9Yf.csv")
train = pd.read_csv("train_fwYjLYX.csv")

In [6]:
sample.shape,test.shape,train.shape

((180, 4), (180, 3), (80402, 6))

In [7]:
sample.head()

   id application_date  segment  case_count
0   1       2019-07-06        1           5
1   2       2019-07-07        1           5
2   3       2019-07-08        1           5
3   4       2019-07-09        1           5
4   5       2019-07-10        1           5

In [8]:
test.head()

   id application_date  segment
0   1       2019-07-06        1
1   2       2019-07-07        1
2   3       2019-07-08        1
3   4       2019-07-09        1
4   5       2019-07-10        1

In [9]:
train.head()

  application_date  segment  branch_id        state  zone  case_count
0       2017-04-01        1        1.0  WEST BENGAL  EAST        40.0
1       2017-04-03        1        1.0  WEST BENGAL  EAST         5.0
2       2017-04-04        1        1.0  WEST BENGAL  EAST         4.0
3       2017-04-05        1        1.0  WEST BENGAL  EAST       113.0
4       2017-04-07        1        1.0  WEST BENGAL  EAST        76.0

In [13]:
train['segment'].value_counts()

1    66898
2    13504
Name: segment, dtype: int64

In [14]:
train['state'].value_counts()

MAHARASHTRA       11322
GUJARAT            7292
WEST BENGAL        7292
TAMIL NADU         6486
UTTAR PRADESH      6486
PUNJAB             4874
ANDHRA PRADESH     4836
ASSAM              4068
HARYANA            4068
ORISSA             3262
KARNATAKA          3262
BIHAR              3262
JHARKHAND          2456
TRIPURA            2456
MADHYA PRADESH     1650
CHHATTISGARH       1650
KERALA             1650
TELANGANA          1612
UTTARAKHAND        1612
DELHI               806
Name: state, dtype: int64

In [16]:
train[train.state=='TAMIL NADU']['zone'].value_counts()

SOUTH    5642
Name: zone, dtype: int64

In [ ]:
import tensorflow as tf
from tensorflow import keras
tf.__version__

In [ ]:
np.random.seed(42)
tf.random.set_seed(42)

model = keras.models.Sequential([
    keras.layers.GRU(20, return_sequences=True, input_shape=[None, 1]),
    keras.layers.GRU(20, return_sequences=True),
    keras.layers.TimeDistributed(keras.layers.Dense(10))
])

model.compile(loss="mse", optimizer="adam", metrics=[last_time_step_mse])
history = model.fit(X_train, Y_train, epochs=20,
                    validation_data=(X_valid, Y_valid))